<aside>
    <ul class="nav-list">
        <li>
            <a href="{% url 'home' %}" class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
                <i class="bi bi-speedometer2"></i> Dashboard
            </a>
        </li>
        <li>
            <a href="#" class="nav-link">
                <i class="bi bi-box-seam"></i> Inventario
            </a>
        </li>
        <li>
            <a href="{% url 'prestamo_list' %}" class="nav-link {% if request.resolver_match.url_name == 'prestamo_list' %}active{% endif %}">
                <i class="bi bi-box-arrow-right"></i> Prestamos
            </a>
        </li>
        <li>
            <a href="#" class="nav-link">
                <i class="bi bi-plus-circle"></i> Nuevo Registro
            </a>
        </li>
        <li>
            <a href="#" class="nav-link">
                <i class="bi bi-file-earmark-bar-graph"></i> Reportes
            </a>
        </li>
        <li class="nav-spacer">
            <a href="#" class="nav-link">
                <i class="bi bi-gear"></i> Configuración
            </a>
        </li>
    </ul>
</aside>