{% extends "base.html" %}

{% block content %}
<h1 class="text-cream">Bienvenido a Mina, {{ nombre }}!</h1>
<p class="text-cream">Aquí podrás gestionar el inventario de tu mina de manera eficiente y sencilla.</p>
<p class="text-cream">Utiliza el menú lateral para navegar entre las diferentes secciones y mantener tu inventario siempre actualizado.</p>
{% comment %} <img class="img-fluid mt-4" src="{% static 'images/dashboard.jpg' %}" alt="Dashboard Mina 2025" /> {% endcomment %}
{% endblock %}